.hydrogen-bohr-root {
  --hydrogen-bohr-orbit: #dddddd;
  --hydrogen-bohr-text: #333333;
}

.hydrogen-bohr-info {
  color: var(--hydrogen-bohr-text);
}

@keyframes hydrogen-bohr-orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hydrogen-bohr-proton-wiggle {
  0%,
  92%,
  100% {
    transform: translate(0, 0);
  }
  94% {
    transform: translate(1px, -0.5px);
  }
  96% {
    transform: translate(-0.5px, 1px);
  }
  97% {
    transform: translate(0.5px, 0.5px);
  }
  98% {
    transform: translate(-1px, -0.5px);
  }
}

.hydrogen-bohr-electron-group {
  transform-origin: 250px 250px;
  animation: hydrogen-bohr-orbit 12s linear infinite;
}

.hydrogen-bohr-proton {
  transform-origin: 250px 250px;
  animation: hydrogen-bohr-proton-wiggle 8s infinite;
}
